.ek>p{
    color: red;
    font-size: 3em;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       width: 900pxpx;
       clear: both;
       margin: 20px;
       font-family: 'Staatliches', cursive;
       margin-left: 400px;
     margin-top:-450px;
     font-size: 2em;
     display: flex;
     margin-left:750px;
     margin-bottom:800px;

     
    
    
    
    
}
.ek>image{
    float: right;
  
}
.do{
    color: cadetblue;
    font-family: 'Hanalei Fill', cursive;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       width: 1541px;
       clear: both;
       margin: 10px;
       margin-top: -750px;
       margin-left: -50px;
       margin-bottom: 800px;
       font-size: 2em;
       width:600px;
       padding: 50px;
       justify-content: right;

 
     
}
.do>image{
    float: right;
    
}





.pls{
   margin-top:-1300px;
     margin-left:650px;
    }
    
    
    
      .butt{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left:500px;
        margin-top: 70px;
      }

      .buttos{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        
        margin-top: 70px;
      }