.ek>p{
    color: red;
    font-size: 3em;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       width: 900pxpx;
       clear: both;
       margin: 25px;
       font-family: 'Staatliches', cursive;
       margin-left: 500px;
     margin-top: -400px;
     font-size: 2em;
     display: flex;
     margin-left:750px;
     margin-bottom:800px;
  
     
    
    
    
    
}
.ek>image{
    float: right;
}
.do>p{
    color: goldenrod;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       width: 1541px;
       clear: both;
       margin: 10px;
       margin-top: -800px;
       margin-left: -50px;
       margin-bottom: 800px;
       font-size: 2em;
       width: 900px;
       padding: 50px;
       justify-content: right;
       font-family: 'Hanalei Fill', cursive;
     
}
.do>image{
    float: right;
    
}
.image{
 
}
.do-image{
 
    margin-top:100px;
}
.teen{
    color: red;
    margin-top: -1450px;
    justify-content: right;
    font-size: large;
}

